<section style="width: 100vw; height: 100vh" class="d-flex col-12 justify-content-center">
  <div class="d-flex  flex-direction: column d-inline-flex  align-items-center justify-content-center">
    <div class="card justify-content-center align-items-center">
      <div class="card-body">
        <div class="btn-group" role="group">
          <button type="button" routerLink="/login"   mat-stroked-button color="warn" >login</button>
        </div>
          <button type="button" routerLink="/signup" mat-stroked-button color="warn">sign up</button>
        <router-outlet></router-outlet>
      </div>
    </div>  
  </div> 
</section>

  
   
  
